/**************************************
*Clear browser padding
**************************************/

* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-family: 'Roboto Slab', serif;
}

  /* The animation code */
  @keyframes fadeIn {
    /* 0%   {transform: translateX(2000px);} */
    /* 100% {transform: translateX(0);} */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  section div {
      padding: 1rem 3rem;
  }

  section div p {
      display: inline;
      padding: 0;
      margin: 0;
  }
  #hero img {
      
    animation-name: fadeIn;
    animation-duration: 2200ms;
  }

  section div :nth-child(1){
    animation-name: fadeIn;
    animation-duration: 200ms;
  }  
  section div :nth-child(2){
    animation-name: fadeIn;
    animation-duration: 1000ms;
  }
  section div :nth-child(3){
    animation-name: fadeIn;
    animation-duration: 1600ms;
  }
  
  section div :nth-child(4){
    animation-name: fadeIn;
    animation-duration: 2000ms;
  }
/**************************************
*Global
**************************************/
a {
  cursor: pointer;
}
body {
    min-height: 100vh;
    margin-bottom: -15vh;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

button {
    margin: auto;
    border: none;
    background-color: #444;
    color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: block;
}

p {
    font-size: .75rem;
/*     max-width: 50vw; */
  margin: auto;
}

/**************************************
*Header
**************************************/

header {
    position: fixed;
    padding: .75rem 0 0 0;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    box-shadow: 0 0 8px #11111155;
    transition: all 1s ease-in-out;
    z-index: 100;
    top: 0;
    background-color: #fff;
    /* background-image: linear-gradient(135deg,#6b8f3d 0%,#6b8f3d 20%, #fee32d 20%, #fee32d 20.5%, #c86650 20.5%, #c86650 22%, rgba(0,0,0,0.1) 22%); */
}

header article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

header article h1 {
    margin-left: 1rem;
    margin-right: auto;
}

header article h3 {
    color: #fff;
    margin-right: auto;
}

header nav {
    /* background-color: #fbfbfb; */
    width: 100vw;
    align-self: flex-end;
    margin-top: auto;
    margin-right: auto;
    display: none;
}
nav a {
    transition: all 400ms ease-in-out;
}

nav a:hover,
nav a:active,
.active {
    background: linear-gradient(90deg, transparent 10%, #ee7626bb 50%, transparent 90%);
    color: #fff;
    font-weight: bolder;
}

header nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

header nav ul li {
    width: 100%;
    text-align: center;
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    width: 100vw;
    padding: 10px 0px;
    flex: 1;
    color: #000;
    font-weight: 500;
    font-size: 1.15rem;
}

a {
    text-decoration: none;
}


.mobile {
    display: block;
}

.desktop {
    display: none;
}
/**************************************
*Footer
**************************************/

footer {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    min-height: 7vh;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1s ease-in-out;
}

footer p {
    text-align: center;
}

header article h1 {
    font-size: 1.25rem;
}
/**************************************
* Body
**************************************/
#jumbo picture {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .75;
    height: 300px;
    object-fit: cover;
    width: 100%;

}
#jumbo picture img {
    width: 100%;
    object-position: center;
    object-fit: cover;
    max-height: 300px;
}
#jumbo div {
    /* position: absolute; */
    /* bottom: 250px; */
    
    width: 100%;
    height: 300px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000088;
}
#jumbo div h2 {
    text-shadow: 0 0 5px #00000099;
    font-size: 3rem;
}
#jumbo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 12.5vh 0;
    flex-direction: column-reverse;
    /* padding: 0 0 .5rem 0; */
}

section:nth-child(odd) {
    background: #00000005;
}

section p {
    margin: 30px;
    line-height: 2rem;
    font-size: 1rem;
}

aside {

    position: fixed;
    bottom: 100px;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

aside h3 {

    opacity: 0.8;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #fff;
    padding: 1rem 1.25rem 1rem 0.5rem;
    box-shadow: 0 0 3px rgba(50, 50, 50, 0.7);
    border-radius: 0 7px 7px 0;
}

section h2 {
    padding: 2rem 0;
}

section ul {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    text-align: center;
}

section ul h6 {
    border-bottom: solid 1px #666;
    border-top: solid 1px #666;
}

section ul li {
    color: #fff;
    font-size: .85rem;
    padding: 15px;
    transition: background-color 1s ease-in-out;
}

section ul li:hover {
    background: rgba(0, 0, 0, .1);
}

section article {
    padding: .5rem 0;
    line-height: 2rem;
}
section ul li a p {
    text-align: left;
}
a:visited {
    color: #000;
    background: rgba(255,255,255, .1);
}

a {
    color: #fff;
}

#profile-img {
    width: 50%;
    justify-self: center;
    text-align: center;
}

#profile-img img {
    border-radius: 50%;
    opacity: .85;
    z-index: -1;
}

#b-edu {
    flex-direction: column;
}

#bio {
    justify-content: center;
}

#contact {
    background-color: #ee7626;
    color: black;
}
.hidden {
    display: none;
}
.show {
    display: flex;
}

.logo {
    position: absolute;
    left: 0;
    top: 10px;
}
#contact picture img {
    border-radius: 0;
    box-shadow: none;
    object-fit: contain;
}
#flavors ul {
    /* justify-self: flex-start; */
}
.font-black {
    color: #000;
}

.txt-left {
    text-align: left;
}

.svg {
    display: none;
}

/***************************************************************
FORM
***************************************************************/
form {
    display: flex;
    /* width: 90%; */
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form h1 {
    margin: 4%;
    color: white;
}

label,
input,
textarea {
    color: black;
    font-size: large;
    width: 95%;
    border: none;
    line-height: 2.8rem;
}

input,
textarea {
    background: rgba(255, 255, 255,1);
    border-radius: .25rem;
    padding-left: 15px;
}

input {
    text-align: left;
}
input::placeholder, textarea::placeholder {
    color: black;
    font-weight: 200;
    text-shadow: none;
}

textarea {
    text-align: left;
}

form button {
    margin: 2rem;
    margin-left: auto;
    border: none;
    padding: .4rem .8rem;
    font-size: 1.25rem;
    align-self: flex-end;
}

button:hover {
    cursor: pointer;
    background: yellow;
    color: white;
    
}

/**************************************
*Hamburger
**************************************/

#hamburger {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 25px;
}

.svg-middle-expand-x {
    display: none;
}

.svg-top-expand-x {
    animation: forwards top-expand 1s;
}

.svg-bottom-expand-x {
    animation: forwards bottom-expand 1s;
}

@keyframes bottom-expand {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(10px) rotate(315deg);
    }
}

@keyframes top-expand {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(15px) translateX(-3px) rotate(225deg);
    }
}

.svg-top-collapse-x {
    animation: forwards top-collapse 1s;
}

.svg-middle-collapse-x {
    display: block;
    animation: forwards middle-collapse 4s;
}

.svg-bottom-collapse-x {
    animation: forwards bottom-collapse 1s;
}

@keyframes bottom-collapse {
    100% {
        transform: translateY(0px) rotate(0deg);
    }
    0% {
        transform: translateY(10px) rotate(315deg);
    }
}

@keyframes middle-collapse {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@keyframes top-collapse {
    100% {
        transform: translateY(0px) rotate(0deg);
    }
    0% {
        transform: translateY(15px) translateX(-3px) rotate(225deg);
    }
}

/**************************************
*End Hamburger
**************************************/
